<h2>Infinite scroll</h2>
<div class="section">
  <cdk-virtual-scroll-viewport itemSize="40"  class="scroll-area" >
    <ng-container *cdkVirtualFor="let user of userList; let index = index; template: scrollItemTemplate; "></ng-container>
  </cdk-virtual-scroll-viewport>
</div>
<ng-template #scrollItemTemplate let-user>
  <div class="scroll-item">{{user.name}}</div>
</ng-template>

<h2>Drag and Drop</h2>
<div class="section">
  <div class="drag-area" cdkDropList (cdkDropListDropped)="dropDropList($event)">
      <div *ngFor="let user of userList2; let index = index;" cdkDrag [cdkDragData]="user" class="drag-item">{{user.name}}
        <div>
          <div>index: {{index}}</div>
          <div *ngIf="user.previousIndex>=0">previousIndex: {{user.previousIndex}}</div>
        </div>
      </div>
  </div>
</div>
